[Unit]
Description=Finnegans Wake Flask App

[Service]
Type=simple
WorkingDirectory=/app
ExecStart=/usr/bin/python3.8 ./application.py
Restart=always

[Install]
WantedBy=multi-user.target
