[Unit]
Description=Finnegans Wake Flask App (Gunicorn)
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/app
ExecStart=/home/ec2-user/.local/bin/gunicorn \
    --workers 3 \
    --bind 0.0.0.0:8080 \
    application:app
Restart=always

[Install]
WantedBy=multi-user.target
