[Unit]
Description=Finnegans Wake Flask App

[Service]
Type=simple
ExecStart=/app/startup
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
