.lead {
    font-family: Magere Weiß-Kapitale, Helvetica;
    font-size: 30px;

}

.small-lead {
    font-family: Magere Weiß-Kapitale, Helvetica;
    font-size: 20px;

}
div#load {
	background: url("https://github.com/sdot61/fw/blob/5be5e55543320605f79befb898ffd37b9570f45b/ring.gif");
	border: none;
	width: 115px;
	height: 115px;
	padding: 0;
}
