.lead {
    font-family: Magere Weiß-Kapitale, Helvetica;
    font-size: 30px;

}

.small-lead {
    font-family: Magere Weiß-Kapitale, Helvetica;
    font-size: 18px;

}
.button--loading .btn {
    visibility: hidden;
    opacity: 0;
      
 .buttom--loading::after {
     content: "";
     position: absolute;
     width: 16px;
     height: 16px;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     margin: auto;
     border: 5px solid transparent;
     border-top-color: #ffffff;
     border-radius: 50%;
     animation: button-loading-spinner 1s ease infinite;
     
  @keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

