{# templates/list_template.html #}
<ul class="list-group mb-3" id="list{{ loop_index }}">
  <li class="list-group-item p-0 border-0">
    <button
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      data-toggle="collapse"
      data-target="#collapse-{{ loop_index }}"
      aria-expanded="false"
      aria-controls="collapse-{{ loop_index }}">
      {{ match }}
      <span class="badge badge-primary badge-pill">
        {{ positions|length }}
      </span>
    </button>
  </li>

  <div id="collapse-{{ loop_index }}" class="collapse">
    <ul class="list-group list-group-flush">
      {% for p in positions %}
        <li class="list-group-item">
          <a href="/finneganswake#{{ p.line }}" target="_blank">
            {{ p.word }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</ul>
